<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styleadmin.css' />
      </head>
    
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="style.css">
      <script defer src="index-admin.js"></script>

      <header class="page-header">
        <nav>
          <a href="#0">
            <img class="logo" src="https://w7.pngwing.com/pngs/502/661/png-transparent-logo-lotus-miscellaneous-leaf-logo.png" width="70" height="70" alt="Hello">
          </a>
          <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
            <svg width="20" height="20" aria-hidden="true">
              <use xlink:href="#down"></use>
            </svg>
          </button>
          <ul class="admin-menu">
            <li class="menu-heading">
              <h3>Finance_Admin</h3>
            </li>

            <li>
              <a href="https://colorlib.com/wp/free-bootstrap-admin-dashboard-templates/">
                <svg>
                  <use xlink:href="#dashboard"></use>
                </svg>
                <span>Dashboard</span>
              </a>
            </li>

             <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#users"></use>
                </svg>
                <span>Users</span>
              </a>
            </li>

            <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#pages"></use>
                </svg>
                <span>Pages</span>
              </a>
            </li>

            <li>
              <a href="#0">
                  <svg>
                    <use xlink:href="#what"></use>
                  </svg>
                  <span>What to do</span>
                </a>
            </li>
            
            <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#comments"></use>
                </svg>
                <span>Comments</span>
              </a>
            </li>

            <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#appearance"></use>
                </svg>
                <span>Appearance</span>
              </a>
            </li>

            <li class="menu-heading">
              <h3>Settings</h3>
            </li>

            <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#settings"></use>
                </svg>
                <span>Settings</span>
              </a>
            </li>

            <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#options"></use>
                </svg>
                <span>Options</span>
              </a>
            </li>

            <li>
              <a href="#0">
                <svg>
                  <use xlink:href="#charts"></use>
                </svg>
                <span>Charts</span>
              </a>
            </li>

            <li>
              <button class="collapse-btn" aria-expanded="true" aria-label="collapse menu">
                <svg aria-hidden="true">
                  <use xlink:href="#collapse"></use>
                </svg>
                <span>Collapse</span>
              </button>
            </li>
            
          </ul>
        </nav>
      </header>

      <section class="page-content">
        <section class="search-and-user">
          <form>
            <input type="search" placeholder="Search Pages...">
            <button type="submit" aria-label="submit form">
              <svg aria-hidden="true">
                <use xlink:href="#search"></use>
              </svg>
            </button>
          </form>
          <div class="admin-profile">
            <span class="greeting">HELLO</span>
            <div class="notifications">
              <span class="badge">1</span>
              <svg>
                <use xlink:href="#users"></use>
              </svg>
            </div>
          </div>
        </section>

        
        <section class="grid">
          <div class="linee"><a href="#0"></a></div>
          <div class="linee"><a href="#0"></a></div>
          <div class="linee"><a href="#0"></a></div>
          <div class="finance-reports"><a href="/finance/reports">Finance Reports</a></div>
          <div class="linee"><a href="#0"></a></div>
          <div class="account-payable"><a href="/finance/payable">Accounts Payable</a></div>
          <div class="linee"><a href="#0"></a></div>
          <div class="account-receivable"><a href="/finance/receivable">Accounts Receivable</a></div>
          <div class="linee"><a href="#0"></a></div>
          <div class="account-receivable"><a href="https://www.google.com/">Tax</a></div>
          <div class="linee"><a href="#0"></a></div>
          <div class="account-payable"></div><a href="/logout"> logout </a></div>
          <div class="nothing"><a href="#0"></a></div>
        </section>
      </section>
        
      </section>

</html>